/* For the gradient 
Codepen: https://manuel.pinto.dev
*/
body {
  margin: 0;
  font-family: "Istok Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e0e;
  background: linear-gradient(-45deg, #23262f, #17181d, #0e0e0e);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
